
body {
    margin: 0%;
    width: 100%;

}

@font-face {
    font-family: SharpSansNo1-Bold;
    src: url(./font/samsungsharpsans-bold.otf);
}

/*----presentation section-----*/
.presentation {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-image: url(assets/Group\ 4.svg);
    width: 100%;
    height: 350px;

    
}

.webinar {
    font-family: SharpSansNo1-Bold;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.93px;
    text-align: center;
    line-height: 15px;
    padding: 12.5px 20px 12.5px 20px;
    margin-top: 80px;
    background-color: #e75d00;
}

.title {
font-family: SharpSansNo1-Bold;
font-size: 38px;
color: #02363D;
text-align: center;
line-height: 52px;
width: 960px;
height: 156px;
}

.date {
font-family: 'Roboto', sans-serif;
font-size: 21px;
color: #00373E;
text-align: center;
line-height: 40px;
width: 565px;
height: 61px;
opacity: 100%; 
position: relative;
bottom: 44px;
}

/*---Body section---*/

.all__body {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.bodyContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    margin: 85px 155px auto;
}
.sponsorsImg {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-bottom: 37px;
    margin-right: 15px;
    justify-content: space-around;
}
.sponsorsImg2 {
    position: relative;
    bottom: 93px;
    margin-top: 100px;
    margin-bottom: 90px;
}
.img__sponsor {
    margin-right: 25px;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 565px;
    height: 897px;
}

.aboutEvent, .name__speaker ,
.title__speaker {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #405457;
    letter-spacing: 0;
    line-height: 0%;
    
} 

.aboutEvent {
    line-height: 28px;
}

.speaker {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 33px;
}
.speaker__id {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 29px;
}

/*---Form section ---*/

.inscriptionSection {
    height: 822px;
    width: 463px;
    background: #f8f9f9;
    opacity: 100%;
    margin-top: 82px;
    position: relative;
    right: 75px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_group {
    margin-top: 25px;
}
.text__inscription {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #02363D;
    text-align: center;
    line-height: 29px;
    margin-top: 38px;
}
.form_label {
    display: block;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #02363D;
}
.form_input {
    width: 368px;
    height: 45px;
    line-height: 45px;
    transition: 0.6s ease all;
    background: #FFFFFF;
    border: 1px solid #68737D;
    font-family: SharpSansNo1-Semibold;
    font-size: 15px;
    padding-left: 10px;
}
.form_input:focus {
    border: 1px solid #02363D;
    outline: none;
    box-shadow: 1.5px 0px 5px rgba(163,163,163,0.6);
}

.seleccion__pais {
    width: 368px;
    height: 45px;
    line-height: 45px;
    transition: 0.6s ease all;
    background: #FFFFFF;
    border: 1px solid #68737D;
}

.seleccion__pais:focus {
    border: 1px solid #02363D;
    outline: none;
    box-shadow: 1.5px 0px 5px rgba(163,163,163,0.6);
}

.form_fault_input{
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}
.form_fault_input-activ {
    display: block;
}

.form_btn {
    width: 370px;
    height: 50px;
    background: #02363D;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s ease all;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 35px;
}
.form_btn::hove {
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.msj__form {
    
	line-height: 45px;
	background: #f78282;
    padding: 0 5px 0 5px;
	border-radius: 2px;
    font-size: 13px;
	display: none;
}
.msj__form-activ {
    display: block;
}
.msj_success_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 100px 140px 100px 140px;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 0,5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: center;
    color: #02353C;
    letter-spacing: 0;
    display: none;
    position: relative;
    right: 400px;
    bottom: 500px;
}

.msj_success_form-activ {
    display: block;
}


footer {
    height: 160px;
    background: #f8f9f9;
    
}

.copyr {
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #405457;
    letter-spacing: 0;
    position: relative;
    top: 38px;
    left: 149px;
}

hr {
    width: 1050px;
    color: #e6e4e4;
    opacity: 40%;
}

.mediaSocial {
    position: relative;
    left: 890px;
    
}

.icon_mediaSocial {
    width: 40px;
    height: 40px;
    margin-right: 5px;
} 


/*Responsive desing*/

@media screen and (max-width: 650px) {
    .presentation {
        display: flex;
        align-items: center;
        width: 100%;
        height: 250px;
    }
    .webinar {
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    padding: 5.5px 15px 5.5px 15px;
    margin-top: 20px;
    }
    .presentation .title {
        font-size: 20px;
        line-height: 25px;
        
    }
    .all__body {
       flex-direction: column;
       align-items: center;
    }
    .date {
     font-size: 13px;
     text-align: center;
     opacity: 100%; 
    }
    .sponsorsImg {
        display: none;
    }
    
    .information {
        width: 450px;
        height: 800px;
    }
    .aboutEvent, .name__speaker ,
    .title__speaker {
        
        font-size: 14px;
        color: #405457;
    } 
    .aboutEvent {
        line-height: 20px;
    }
    .inscriptionSection {
        height: 800px;
        width: 400px;
        right: 15px;
    }
    
    .text__inscription {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #02363D;
        text-align: center;
        line-height: 20px;
        margin-top: 38px;
    }
    .form_label {
        padding: 4px;
        font-size: 13px;
        
    }
    .form_input {
        width: 310px;
        height: 35px;
        font-size: 15px;
        padding-left: 5px;
    }
    .form_input:focus {
        border: 1px solid #02363D;
        outline: none;
        box-shadow: 1.5px 0px 5px rgba(163,163,163,0.6);
    }
    .seleccion__pais {
        width: 310px;
        height: 35px;
        line-height: 45px;
    }
    .form_fault_input{
        font-size: 10px;
    }
    .form_btn {
        width: 310px;
        height: 45px;
        font-size: 15px;
        margin-top: 30px;
    }
    .msj__form {
        
        line-height: 35px;
        font-size: 8px;
        display: none;
    }
    .msj__form-activ {
        display: block;
    }
    .msj_success_form {
        padding: 50px 70px 50px 70px;
        font-size: 10px;
        right: 10px;
        bottom: 400px;
    }
    footer {
        height: 100px; 
    }
    .copyr {
        font-family: ProximaNova-Regular;
        font-size: 15px;
        top: 30px;
        left: 120px;
    }
    hr {
      display: none;
    }
    .mediaSocial {
        position: relative;
        left: 300px;
        
    }
    .icon_mediaSocial {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    } 
}